@{
    ViewBag.Title = "RJB Gallery Home";
}

<h2>RJB Gallery!</h2>

<div class="row">
    <div class="large-12 columns">
        <div class="panel callout">Yes the Zurb Foundation Framework Works!</div>
    </div>
</div>

<div class="row">
        <div class="large-6 columns">
            <div class="panel callout">6 columns</div>
        </div>
            <div class="large-6 columns">
            <div class="panel callout">6 other columns</div>
        </div>
</div>
